header{
    display: flex;
    height: 50px;
    width: 100vw;
    background-color: purple;
    justify-content: space-between;
    align-items: center;
}
header button{
    background-color: rgba(77, 180, 77, 0.863);
    height: 100%;
    width: 100px;
}
header input{
    height: 100%;
    width: 200px;
    border-radius: 2px;
    border: none;
}
body{
    margin: 0;
}
header div:first-child{
    height: 80%;
    width:auto;
}
header img{
    height: 100%;
    width: 100%;
    filter: brightness(3);
    clip:rect(auto auto 36px auto)
}
header div:nth-child(2){
    height: 60%;
    width: auto;
}